.header_container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 3rem 2rem;
}
.header_nav{
    display:flex;
    padding-right: 1rem;
}
.header_nav_item{
    list-style: none;
    display: block;
    padding: 0.4rem;
    margin-left: 1rem;
    
}
.header_nav_item_button{
    background-color: #dc3545;
    border-radius: 0.432rem;
    padding: 0.2rem 0.5rem;
    display: flex;
}
.header_nav_item_button a{
    margin: auto;
}
.header_nav_item a{
    color: white;
    text-decoration: none;
}

.header_title{
    padding: 0.3rem;
    padding-left: 1rem;
    align-self: center;
    color: #dc3545;
    font-size: 2rem;
}
.header_bread_crumb_mobile{
    font-size: 2rem;
    transform: scaleX(2);
}
#hide{
    display: none;
}
#display{
    display: block;
}
.header_bread_crumb_mobile::before{
    content: '-';
    position: absolute;
    margin-top: 0.5rem;
}

@media (max-width: 767px) {
    .header_nav{
        display:block;
        padding: 0px;
    }
    .header_container{
        display: block;
        justify-content: space-between;
        padding: 1rem;
    }
    .header_bread_crumb_mobile{
        float: right;
        margin-top: -2.5rem;
    }
    .header_nav_item_button{
        width: fit-content;
        padding: 0.5rem 1.5rem;
        margin-top: 1rem;
    }
  }