.signup_direct_button{
    background-color: #dc3545;
    border-radius: 0.432rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
    display: flex;
    color: white;
    border: none;
    width: fit-content;
    text-decoration: none;
}
.signup_direct_container{
    font-weight: 200;
}
.signup_direct_why_title{
    font-weight: 400;

}