/*Carousel*/
.carousel_wrapper{
    display: block;
    flex-direction: row;
    margin-bottom: 2rem;
    height: fit-content;
}

.carousel_container{
    overflow: none;
    /*min-width: 720px;*/
    padding: 2rem;
    height: fit-content;
    width: 450px;
    margin: auto;
    -webkit-box-shadow: -5px 4px 63px -5px rgba(0,0,0,0.63);
    -moz-box-shadow: -5px 4px 63px -5px rgba(0,0,0,0.63);
    box-shadow: -5px 4px 63px -5px rgba(0,0,0,0.63);
}
.carousel_slide {
    align-self: center;
    display: none;
    margin: auto;
    
    height: 90%;
}
.carousel_slide.Active{
    display: block;
}

.carousel_title_container{
    display: flex;
    width: 100%;
    height: 210px;
    border-bottom: 1px solid #000;
}
.carousel_title_wrapper{
    margin: auto 0 2rem 0;
    width: fit-content;
    
    flex: 3;
}
.carousel_title{
    display: flex;
    color: #dc3545;
}
.carousel_body{
    display: flex;
    height: 50%;
    padding-top: 2rem;
    flex-direction: column;
}
.carousel_body_text{
    color: #525252;
}
.carousel_body_button_container{
    margin:auto;
    width: 100%;
    flex: 1;
}
.carousel_next_prev_button_container{
    display: unset;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}
.carousel_body_button_red{
    font-size: 0.7rem;
    cursor: pointer;
    user-select: none;
    background-color: unset;
    color: #dc3545;
    border-radius: 0.432rem;
    border: none;
    
}
.carousel_prev button, .carousel_next button{
    border: none;
    background-color: unset;
    color: #686868;
    font-size: 0.8rem;
    cursor: pointer;
}
.carousel_prev button:hover, .carousel_next button:hover{
    color: #202020;
}

.section_header{
    display: flex;
    justify-content: space-between;
}
.section_show_hide_btn{
    align-self: center;
    transform: rotateZ(90deg);
    cursor: pointer;
    transition-duration: 10ms;
}
.section_body{
    height: 0px;
    overflow: hidden;
    transition-duration: 10s;
}
.section_container{
    font-size: small;
}
.section_title{
    font-size: medium;
}
.section_body_active{
    height: unset;
}
.sentence_highlight{
    color: #dc3545;
}


.select_option_container select{
        padding: 0.3rem;
        color: white;
        background-color: rgba(100, 100, 100, 0.4);
        border: none;
        border-radius: 0.436rem;

}
.select_option_container option{
    padding: 0.3rem;
    color: white;
    background-color: rgba(100, 100, 100, 0.6);
    border: none;
    border-radius: 0.436rem;

}

@media (max-width: 700px) {

    .carousel_slide {
      width: 300px;
    }
    .carousel_body_button_container{
        margin-bottom: 2rem;
    }
    .carousel_title{
        flex: 2;
    }
  }
  
  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
    .carousel_slide {
      width: 350px;
    }
    .carousel_container{
        width: 350px;
    }
  }
