body{
  margin: 0;
  padding: 0;
  background-color: #10161f;
  background-image: linear-gradient(90deg, #19163f, #10161f);
  color: white;
}
.body_container{
  margin: 0;
  padding: 0;
}
.form_wrapper{
  width: 400px;
  padding: 2rem 2rem;
  margin: auto;
  -webkit-box-shadow: -5px 4px 63px -5px rgba(0,0,0,0.63);
  -moz-box-shadow: -5px 4px 63px -5px rgba(0,0,0,0.63);
  box-shadow: -5px 4px 63px -5px rgba(0,0,0,0.63);
}
.body_content{
  padding: 2rem;
}